<footer class="main-footer">
  <div class="footer-top">
    <!-- Logos pequenas -->
    <div class="footer-logos">
      <img src="assets/imgs/logo1.png" alt="Logo infobio">
      <img src="assets/imgs/logo2.png" alt="Logo SCBIM">
      <img src="assets/imgs/logo3.png" alt="Logo USP">
    </div>

    <!-- Redes sociais -->
    <div class="footer-social">
        <a href="https://www.instagram.com/SCBIM" target="_blank" aria-label="Instagram">
            <img src="assets/icons/instagram.svg" alt="Instagram">
        </a>
        <a href="https://www.youtube.com/SCIBM" target="_blank" aria-label="YouTube">
            <img src="assets/icons/youtube.svg" alt="YouTube">
        </a>
        <a href="https://www.linkedin.com/SCIBM" target="_blank" aria-label="LinkedIn">
            <img src="assets/icons/linkedin.svg" alt="LinkedIn">
        </a>
    </div>

  <div class="footer-bottom">
    <p>&copy; 2025 Semana Científica da Informática Biomédica. Todos os direitos reservados.</p>
  </div>
</footer>

