<footer class="main-footer">
  <div class="footer-top">
    <!-- Logos pequenas -->
    <div class="footer-logos">
      <img src="/assets/imgs/logo_infobiojr.png" alt="Logo infobiojr">
      <img src="/assets/imgs/logo_ibm.png" alt="Logo SCBIM">
      <img src="/assets/imgs/logo_usp.png" alt="Logo USP">
    </div>

    <!-- Redes sociais -->
    <div class="footer-social">
        <a href="https://www.instagram.com/SCBIM" target="_blank" aria-label="Instagram">
            <img src="/assets/imgs/logo_instagram.png" alt="Instagram">
        </a>
        <a href="https://www.youtube.com/SCIBM" target="_blank" aria-label="YouTube">
            <img src="/assets/imgs/logo_youtube.png" alt="YouTube">
        </a>
        <a href="https://www.linkedin.com/SCIBM" target="_blank" aria-label="LinkedIn">
            <img src="/assets/imgs/logo_linkedin_footer.png" alt="LinkedIn">
        </a>
    </div>

  <div class="footer-bottom">
    <p>&copy; 2025 Semana Científica da Informática Biomédica. Todos os direitos reservados.</p>
  </div>
</footer>

